{% extends 'base.html' %}


{% block content %}
<section>
    <div class="container">
        <div class="row">
            <!-- To display the username -->
            <div class="col-md-4">
                <h2> {{user.username | capitalize}} </h2>

                <!-- To display the bio-->
                {% if user.bio %}
                <p> {{user.bio}} </p>
                {% else %}
                <p> {{user.username | capitalize}} has no bio </p>
                {% endif %}
            </div>
            <!-- To display the profile picture -->
            <div class="col-md-4">
                {% if user.profile_pic_path %}
                <img src=" {{url_for('static',filename = user.profile_pic_path)}} " alt="" class="imgthumbnail">
                {% else %}
                <p>No profile picture</p>
                {% endif %}
                {% if user === current_user %}
                <form action=" {{ url_for('main.update_pic',yusername = user.username) }} " method="POST"
                    enctype="multipart/form-data">
                    <input type="file" name="photo" class="form-control" required>
                    <input type="submit">
                </form>
                <a href=" {{url_for('main.update_profile',yusername = user.username)}} ">Edit Profile</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}