{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<section>
  <div class="container" style="margin-bottom: 10em;">
    <div class="row">
      <div class="col-md-3"> </div>
      <div class="col-md-7">
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <!--Flash message -->
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
            </div>
            {% endfor %}
            <!-- Login form -->
            {{wtf.quick_form(login_form)}}
            <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
          </div>
        </div>
      </div>
      <div clas="col-md-2"> </div>
    </div>
  </div>
</section>

{% endblock%}