{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<section>
    <div class="container">
        <div class="row" style=" padding-bottom: 10em;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        {{wtf.quick_form(registration_form)}}
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
{% endblock %}