{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<section>
  <div class="container-fluid">
    <h1>Help Centre</h1>
    <div class="row">
      <div class="col-md-4">
        {% for message in get_flashed_messages() %}
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
          </div>  
        {% endfor %}  
      </div>
      <div class="col-md-4">
        {{wtf.quick_form(form)}}
      </div>
      <div class="col-md-4">
      <h4>Use the codes below:</h4>
      <ul>
        <li>'Home' :To go to home page</li>
        <li>'Help' :To display all solutions</li>
        <li>'Any Emergency Category' :To display all emergencies with that category</li>
        <li>'News' :To display all emergency news</li>
      </ul>
      </div>
    </div>

  </div>
</section>
{% endblock %}