{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/emergency.css')}}">
{% endblock styles %}

{% block content %}
<section>
  <div class="container-fluid">
  <h1>{{title}}</h1>
    <div class="row">
      {% for emergency in emergencies %}
        <div class="col-md-6">
          <div style="margin-top:10px" class="card bg-dark">
            
            <div style="color:lightblue" class="card-header">{{emergency.category}}</div>
            <div style="color:lightblue" class="card-body">{{emergency.description}}</div>
            <div class="card-footer">
              <small class="text-muted">{{emergency.victim}}</small><br>
              <small class="text-muted">{{emergency.posted.strftime('%Y-%m-%d')}}</small><br>
              <small class="text-muted">{{emergency.location}}</small><br>
            </div>


            {% if emergency.victim==current_user.username %}
            <a class="btn btn-outline-success" href="{{url_for('main.convo',id=emergency.id)}}">Conversations</a>
            <div ><a  class="btn btn-outline-danger" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
              <div id="drop" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="btn btn-outline-primary" href="">Update Emergency</a>
                <a class="btn btn-outline-danger" href="">Delete Emergency</a>
              </div>
            </div>  
            <div><a  class="btn btn-outline-info" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View Map</a>  
              <div id="drop" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div style="width:300px;height:300px" class="container-fluid">
                  {% block map %}
                    {% include 'map.html' %}
                  {% endblock map %}
                </div>              
              </div>    
            </div>            
            {% else %}
            <a class="btn btn-outline-success" href="{{url_for('main.convo',id=emergency.id)}}">Conversations</a>
            {% endif %}
          </div>
        </div>          
        <br>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}