{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<section>
  <div class="container-fluid">
    <h1>Reply for:</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h6 class="card-header ">{{convo.convo}}</h6>
            <p><small class="text-dark">{{convo.posted_by}}</small></p>            
            <p><small class="text-dark">{{convo.posted_on.strftime('%Y-%m-%d')}}</small></p>            
          </div>  
        </div>                    
      </div>
      <div class="col-md-4">
        {{wtf.quick_form(ConvoForm)}}
      </div>
    </div>
  </div>
  <hr>
  <div class="container-fluid">
    <h2>Replies</h2>
    <div class="row">
      <div class="col-md-6">
        {% if replies %}
        {% for reply in replies %}
          {% if reply.posted_by!=current_user.username %}   
              <div class="card bg-transparent">
                <h6>{{reply.reply}}</h6>
                <p><small class="text-dark">{{reply.posted_by}}</small></p>              
              </div>
              <br>
          {% endif %}
        {% endfor %}
        {% else %}
        <p class="alert alert-danger">No reply posted</p>
        {% endif %}
      </div>

      <div class="col-md-6">         
      <h3>My replies</h3>
      {% for reply in replies %}
        {% if reply.posted_by==current_user.username %}   
          <div class="card bg-transparent">
            <h6>{{reply.reply}}</h6>
            <p><small class="text-dark">{{reply.posted_by}}</small></p>              
          </div>
          <br>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  </div>

</section>

<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <img src="../static/logo/emay.png" id="footer-img" alt="" width="" height="">                                        
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h4 style="padding-top: 18px;">Mission</h4>
        <p>Make known what's unknown</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4" id="p">
        <h5 class="card-title">Subscribe to our Blog</h5>
        {{wtf.quick_form(subscriber_form)}}
      </div>
    </div>

    <div class="row" style="padding-top: 20px !important;">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <div style="float: left !important;">
          <p>copyright &copy; 2019</p>
        </div>
        <div style="float: right !important;">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a>
            </li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock content %}