{% extends 'base.html'%}
{% block content%}
<section>
    <div class="container">
        <h1 class="text-center">Solutions</h1>


        <div class="col-md-3 col-sm-3 col-xs-6 wow pulse" data-wow-duration="4s"  data-wow-iteration="infinite" style="padding-bottom: 10px !important;">
            <a href="{{url_for('main.new_solution')}}" class="btn btn-sm animated-button sandy-two">Post a Solution</a> 
        </div>

        <div style="padding-bottom: 1em;">
            <div class="card">
                <div class="card-body">
                    <h2>Accidents</h2>
                    {% if accidents %}
                    <div class="card">
                        <div class="row">
                            {% for accident in accidents %}
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>{{accident.title}}</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>{{accident.body}} </p><br>
                                        <p><i>{{accident.posted_by}}</i></p>
                                        <p><i>{{accident.posted_on.strftime('%Y-%m-%d')}}</i></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor%}
                        </div>
                    </div>
                    {% else %}
                    <p>no accident emergency solutions</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div style="padding-bottom: 1em;">
            <div class="card">
                <div class="card-body">
                    <h2>Floods</h2>
                    {% if floods %}
                    <div class="card">
                        <div class="row">
                            {% for flood in floods %}
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>{{flood.title}}</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>{{flood.body}} </p><br>
                                        <p><i>{{flood.posted_on}}</i></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor%}
                        </div>
                    </div>
                    {% else %}
                    <p>no flood emergency solutions</p>
                    {% endif %}
                </div>
            </div>
        </div>


        <div style="padding-bottom: 1em;">
            <div class="card">
                <div class="card-body">
                    <h2>Earthquakes</h2>
                    {% if earthquakes%}
                    <div class="card">
                        <div class="row">
                            {% for earthquake in earthquakes %}
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>{{earthquake.title}}</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>{{earthquake.body}} </p><br>
                                        <p><i>{{earthquake.posted_on}}</i></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor%}
                        </div>
                    </div>
                    {% else %}
                    <p>no earthquake emergency solutions</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div style="padding-bottom: 1em;">
            <div class="card">
                <div class="card-body">
                    <h2>Flu outbreaks</h2>
                    {% if flus %}
                    <div class="card">
                        <div class="row">
                            {% for flu in flus %}
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>{{flu.title}}</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>{{flu.body}} </p><br>
                                        <p><i>{{flu.posted_on}}</i></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor%}
                        </div>
                    </div>
                    {% else %}
                    <p>no flu emergency solutions</p>
                    {% endif %}
                </div>
            </div>
        </div>


        <div style="padding-bottom: 1em;">
            <div class="card">
                <div class="card-body">
                    <h2>landslides</h2>
                    {% if landslides %}
                    <div class="card">
                        <div class="row">
                            {% for landslide in landslides %}
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>{{landslide.title}}</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>{{landslide.body}} </p><br>
                                        <p><i>{{landslide.posted_on}}</i></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor%}
                        </div>
                    </div>
                    {% else %}
                    <p>no landslide emergency solutions</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}